<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>My Awesome Agenda</title>
</head>
<body>

<div class="container">
    <h1>My Awesome Agenda!</h1>

    <hr/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Room</th>
                <th>Track</th>
                <th>Speakers</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.title}"></td>
                <td th:text="${event.description}"></td>
                <td th:text="${event.startTime}"></td>
                <td th:text="${event.endTime}"></td>
                <td th:text="${event.room}"></td>
                <td th:text="${event.track}"></td>
                <td th:each="speaker : ${event.speakers}">
                    <span th:text="${speaker.name}"></span>
                </td>
            </tr>
        </tbody>

    </table>
</div>
</body>
</html>